<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskRam</title>
</head>
<body>
    <h1>Trabajo</h1>
    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
        <input type = "hidden" th:field="*{id}" />
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" />
        <br/><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <br/><br/>
        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/clientes}">Volver al listado</a>
</body>
</html>