<!DOCTYPE html>
<html lang="es" xmlns:th="https://ww.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Web</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<header class="header">
    <img style="width: 120px ; height: auto" src="/logo.png">
    <nav class="nav">
        <a th:href="@{'/trabajo/listar/'+ ${2}}">Trabajos</a>
        <a href="#">Servicios</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
</header>

<main class="main">
    <section class="dialogo">
        <h1>Bienvenido</h1>
        <p>Esta es una página de presentación sencilla, limpia y centrada. Aquí puedes explicar quién eres y qué haces.</p>
    </section>
</main>

<footer class="footer">
    <p>© 2026 Mi Página Web</p>
</footer>

</body>
</html>
