<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taskRam</title>
    <link rel="stylesheet" href="/trabajoLista.css">
</head>
<body>

<header class="header">
    <img style="width: 120px ; height: auto" src="/logo.png">
    <nav class="nav">
        <a th:href="@{/}">Inicio</a>
        <a href="#" style="color: deepskyblue">Trabajos</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
</header>

<main class="main">
    <section class="dialogo">
        <h1>Tareas</h1>
        <a class="btn" th:href="@{/clientes/nuevo}">Nuevo trabajo</a>

        <table>
            <thead>
            <tr>
                <th>ID Trabajo</th>
                <th>Titulo</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${trabajos}">
                <td th:text="${t.idTrabajo}"></td>
                <td th:text="${t.titulo}"></td>
                <td th:text="${t.estado}"></td>
                <td>
                    <a class="btn" th:href="@{/trabajo/editar/{id}(id=${t.idTrabajo})}">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>